.dashboard-container {
  display: flex;
  padding: 24px;
  justify-content: center;
  align-items: center;
  .dashboard-left-container {
    background: #16161f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
    border-radius: 12px;
    .dashboard-left-container-top {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .icon-container {
        background: #1e1e29;
        border-radius: 8px;
        width: 56px;
        height: 56px;
        padding: 8px;
        .icon {
          padding: 5px;
        }
      }
      .search-input {
        background-color: #1e1e29;
        width: 100%;
        border-radius: 8px;
        padding: 0 20px;
        margin-left: 18px;
        height: 56px;
        color: #fafafa;
      }
    }
    .dashboard-left-container-bottom {
      background: url("/image/weather/few_clouds-night.png");
      border-radius: 8px;
      background-repeat: no-repeat;
      margin-top: 16px;
      .main-container {
        margin: 32px 32px auto 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .main-container-left {
          .main-container-left-top {
            color: #fafafa;
            font-size: 20px;
            font-style: normal;
            font-family: "Nunito Bold";
            line-height: 140%;
          }
          .main-container-left-bottom {
            margin-top: 8px;
            color: #fafafa;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
          }
        }
        .main-container-right {
          color: #fafafa;
          font-size: 20px;
          font-style: normal;
          font-family: "Nunito Bold";
          line-height: 140%;
        }
      }
    }
  }
}
