@font-face {
  font-family: "Nunito Bold";
  src: url("https://s-s01tan.github.io/weather-app-next/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Italic";
  src: url("https://s-s01tan.github.io/weather-app-next/fonts/Nunito/static/Nunito-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Bold Italic";
  src: url("https://s-s01tan.github.io/weather-app-next/fonts/Nunito/static/Nunito-BoldItalic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Nunito Light";
  src: url("https://s-s01tan.github.io/weather-app-next/fonts/Nunito/static/Nunito-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Light Italic";
  src: url("https://s-s01tan.github.io/weather-app-next/fonts/Nunito/static/Nunito-LightItalic.ttf")
    format("truetype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("https://s-s01tan.github.io/weather-app-next/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
