@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./fonts.css");

body {
  background-image: url("../../public/image/background.png");
  font-family: Nunito;
}
* {
  outline: 0;
}
