.not-found-container {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .form-container {
    width: 90%;
    max-width: 504px;
  }
  h1 {
    color: #fafafa;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-family: "Nunito Bold";
    line-height: 140%; /* 44.8px */
    span {
      color: #8fb2f5;
    }
  }
  h2 {
    margin-top: 8px;
    text-align: center;
    font-size: 32px;
    font-family: "Nunito Bold";
    font-style: normal;
    line-height: 140%;
    color: #bfbfd4;
  }
  .home-page-link-container {
    color: #bfbfd4;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      margin-left: 8px;
      color: #8fb2f5;
      text-decoration: none;
      &:hover {
        text-decoration: solid;
      }
    }
  }
}
